/*general variables*/
$highlightColor: yellow;

/* breakpoint variables */
$widthPhone: 320px;
$widthPhoneLandscape: 480px;
$widthTablet: 768px;
$widthTabletLandscape: 960px;
$widthDesktop: 1200px;
$widthDesktopWide: 1400px;
$breakpointPhone: "only screen and (max-width : 496px)";
$breakpointPhoneLandscape: "only screen and (max-width : 784px)";
$breakpointTablet: "only screen and (max-width : 976px)";
$breakpointTabletLandscape: "only screen and (max-width : 1216px)"; 
$breakpointDesktop: "only screen and (max-width : 1416px)";  
/*
@media #{$breakpointPhone} {
}
@media #{$breakpointPhoneLandscape} {
}
@media #{$breakpointTablet} {
}
@media #{$breakpointTabletLandscape} {
}

*/


@mixin transition($property, $ms, $easing, $delay){
	-webkit-transition: $property $ms $easing $delay;
    -moz-transition: $property $ms $easing $delay;
    -o-transition: $property $ms $easing $delay;
    transition: $property $ms $easing $delay;
}

@mixin radius($pixels){
	-webkit-border-radius: $pixels; 
	-moz-border-radius: $pixels; 
	border-radius: $pixels; 
}